<a href="https://colab.research.google.com/github/bcdanl/module-1-colab/blob/main/danl-module-1-lec-01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1

Below is the example to understand the concept of assignment.

In [1]:
# Here we assign the integer value 5 to the variable x.
x = 5

# Now we can use the variable x in the next line.
y = x + 12
y

17

In [4]:
list_example = [10, 1.23, "like this", True, None]
print(list_example)
type(list_example)
type( 10 )

[10, 1.23, 'like this', True, None]

int

In [7]:
vector = ['a', 'b']
vector[2]

IndexError: list index out of range

In [8]:
num_tup = (1, 2, 3)
sum(num_tup)

6

In [9]:
string_one = "This is an example "
string_two = "of string concatenation"
string_full = string_one + string_two
print(string_full)

This is an example of string concatenation

In [10]:
1 + 2

3

In [11]:
list_one = ["apples", "oranges"]
list_two = ["pears", "satsumas"]
list_full = list_one + list_two
print(list_full)

['apples', 'oranges', 'pears', 'satsumas']

In [12]:
string = "apples, "
print(string * 3)

apples, apples, apples,

Classwork 1.1

In [13]:
(2**5) / ( 7 * ( 4 - 2**3) )

-1.1428571428571428

Boolean

In [15]:
10 == 20

False

In [16]:
10 == '10'

False

In [17]:
type(10)

int

In [18]:
type('10')

str

In [19]:
boolean_condition1 = 10 == 20
print(boolean_condition1)

False

In [20]:


boolean_condition2 = 10 == '10'
print(boolean_condition2)

False

In [21]:
boolean_condition1 == boolean_condition2

True

In [22]:
boolean_condition1 and boolean_condition2

False

In [23]:
not boolean_condition1

True

In [24]:
(not boolean_condition1) or boolean_condition2

True

In [25]:
(not boolean_condition1) and boolean_condition2

False

In [26]:
x = 4.0
y = .5

x < y or 3*y < x

True

In [28]:
name = "Geneseo"
score = 99
name == "Geneseo" or score > 90

True

In [29]:
name != "Geneseo" and score > 90

False

In [30]:
name = "Geneseo"
score = 99

if name == "Geneseo" and score > 90:
    print("Geneseo, you achieved a high score.")

Geneseo, you achieved a high score.

In [31]:

if name == "Geneseo" or score > 90:
    print("You could be called Geneseo or have a high score")

You could be called Geneseo or have a high score

In [32]:

if name != "Geneseo" and score > 90:
    print("You are not called Geneseo and you have a high score")

In [33]:
name_list = ["Lovelace", "Smith", "Hopper", "Babbage"]

print("Lovelace" in name_list)

True

In [34]:
print("Bob" in name_list)

False

Check if “a” is in the string “Sun Devil Arena” using in. Is “a” in “Anyone”?

In [35]:
"a" in "Sun Devil Arena"

True

Python is case-sensitive!!!

In [36]:
"a" in "Anyone"

False

In [ ]:
score = 98

if score == 100:
    print("Top marks!")
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")

In [38]:
score = 9

if score == 100:
    print("Top marks!")
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")

Better luck next time.

pass is excuted:

In [39]:
score = 80

if score == 100:
    print("Top marks!")
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")

In [46]:
orig_number = 4.39898498
orig_number

4.39898498

In [40]:
orig_number = 4.39898498
type(orig_number)

float

In [42]:
mod_number = int(orig_number)
mod_number

4

In [43]:

type(mod_number)

int

In [44]:
int("ab")

ValueError: invalid literal for int() with base 10: 'ab'

In [47]:
int(4.9)

4

In [48]:
score = 98

if score == 100:
print("Top marks!") # indentation: double taps or four spaces
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-48-62187f925a9a>, line 4)

In [49]:
name_list = ["Ben", "Chris", "Kate", "Mary"]

for name in name_list:
    print(name)

Ben
Chris
Kate
Mary

Iterables are data containers (lists, dictionaries, and tuple) and strings

In [50]:
for item in "Geneseo":
    print(item)

G
e
n
e
s
e
o

In [51]:
cities_to_temps = {"Paris": 28, "London": 22, "Seville": 36, "Wellesley": 29}
cities_to_temps

{'Paris': 28, 'London': 22, 'Seville': 36, 'Wellesley': 29}

In [52]:

cities_to_temps.keys()

dict_keys(['Paris', 'London', 'Seville', 'Wellesley'])

In [53]:

cities_to_temps.values()

dict_values([28, 22, 36, 29])

In [54]:

cities_to_temps.items()

dict_items([('Paris', 28), ('London', 22), ('Seville', 36), ('Wellesley', 29)])

In [55]:
type([])

list

In [56]:
[]

[]

In [57]:
type({})

dict

In [58]:
type(set())

set

In [59]:
{"a", "b"}

{'a', 'b'}

In [60]:
type({"a", "b"})

set

Slicing methods

In [62]:
string = "cheesecake"
string

'cheesecake'

In [63]:
string[0]

'c'

In [64]:
string[1]

'h'

In [65]:
string[1:]

'heesecake'

In [66]:
string[1:3]

'he'

In [68]:
string[0:1]

'c'

In [70]:
len(string)

10

In [69]:
string[0:2] # 2 - 1 = 1

'ch'

In [67]:
list_example = ['one', 'two', 'three']
list_example[ 1 : 3 ]

['two', 'three']

In [71]:
len(list_example)

3

In [72]:
range(1, 20)

range(1, 20)

In [73]:
for item in range(1, 20):
    print(item)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [74]:
letters = 'abcdefghij'
letters[2 : 6 : 2]   # From index 2 to 5, by steps of 2 characters

'ce'

In [75]:
letters = 'abcdefghij'
letters[2 : 6 : 1]

'cdef'

In [77]:
suny = ['Geneseo', 'Brockport', 'Oswego', 'Binghamton',
        'Stony Brook', 'New Paltz']
suny

['Geneseo', 'Brockport', 'Oswego', 'Binghamton', 'Stony Brook', 'New Paltz']

In [82]:
suny[7]

IndexError: list index out of range

In [83]:
suny[-1]

'New Paltz'

In [84]:
suny[-6]

'Geneseo'

In [85]:
len(suny)

6

In [86]:
suny[-7]

IndexError: list index out of range

In [87]:
fare = "$10.00"
tip = "2.00$"
tax = "$ 0.80"

In [88]:
fare = float(fare)

ValueError: could not convert string to float: '$10.00'

In [90]:
fare = float("10.00")
fare

10.0

In [106]:
fare = "$10.00"
fare = fare[1:]
fare = float(fare)
fare

10.0

0 1 2 3 4
2 . 0 0 $
-5  -4  -3  -2  -1

In [107]:
tip = "2.00$"
tip = tip[-5:-2]
tip = float(tip)
tip

2.0

In [108]:
tax = "$ 0.80"
tax = float(tax[2:])
tax

0.8

In [109]:
total = fare + tip + tax
total

12.8

In [112]:
print("The total trip cost is: $", total)

The total trip cost is: $ 12.8

In [113]:
str(5)

'5'

In [114]:
print("Cherry", "Strawberry", "Key Lime")

Cherry Strawberry Key Lime

In [115]:
print("Cherry", "Strawberry", "Key Lime", sep = "!")

Cherry!Strawberry!Key Lime

In [116]:
print("The total trip cost is: $", total, "0", sep = "")

The total trip cost is: $12.80

In [117]:
list_variable = [100, 144, 169, 1000, 8]
max(list_variable)

1000

In [119]:
print("The largest value in the list is:", max(list_variable))

The largest value in the list is: 1000

In [120]:
import pandas

In [121]:
beer = pandas.read_csv("http://bcdanl.github.io/data/beer_markets.csv")
beer

,hh,_purchase_desc,quantity,brand,dollar_spent,beer_floz,price_per_floz,container,promo,market,...,age,employment,degree,cow,race,microwave,dishwasher,tvcable,singlefamilyhome,npeople
0,2000946,BUD LT BR CN 12P,1,BUD LIGHT,8.14,144.0,0.056528,CAN,False,RURAL ILLINOIS,...,50+,none,Grad,none/retired/student,white,True,True,premium,False,1
1,2003036,BUD LT BR CN 24P,1,BUD LIGHT,17.48,288.0,0.060694,CAN,False,ATLANTA,...,50+,full,College,clerical/sales/service,white,True,True,basic,True,2
2,2003036,BUD LT BR CN 24P,2,BUD LIGHT,33.92,576.0,0.058889,CAN,False,ATLANTA,...,50+,full,College,clerical/sales/service,white,True,True,basic,True,2
3,2003036,BUD LT BR CN 30P,2,BUD LIGHT,34.74,720.0,0.048250,CAN,False,ATLANTA,...,50+,full,College,clerical/sales/service,white,True,True,basic,True,2
4,2003036,BUD LT BR CN 36P,2,BUD LIGHT,40.48,864.0,0.046852,CAN,False,ATLANTA,...,50+,full,College,clerical/sales/service,white,True,True,basic,True,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,9158319,NATURAL LT BR CN 24P,1,NATURAL LIGHT,11.49,288.0,0.039896,CAN,True,RURAL VIRGINIA,...,50+,none,HS,none/retired/student,black,True,True,premium,True,2
73111,9158319,NATURAL LT BR CN 24P,1,NATURAL LIGHT,9.97,288.0,0.034618,CAN,False,RURAL VIRGINIA,...,50+,none,HS,none/retired/student,black,True,True,premium,True,2
73112,9158319,NATURAL LT BR CN 24P,1,NATURAL LIGHT,9.98,288.0,0.034653,CAN,False,RURAL VIRGINIA,...,50+,none,HS,none/retired/student,black,True,True,premium,True,2
73113,9164033,NATURAL LT BR CN 30P,1,NATURAL LIGHT,12.98,360.0,0.036056,CAN,False,SACRAMENTO,...,50+,full,College,prof,hispanic,True,True,basic,True,5plus
73114,9164155,NATURAL LT BR CN 24P,1,NATURAL LIGHT,13.49,288.0,0.046840,CAN,False,JACKSONVILLE,...,50+,full,HS,labor/craft/military/farm,white,True,True,none,True,2

In [122]:
type(beer)

pandas.core.frame.DataFrame

In [123]:
import pandas as pd

In [124]:
beer = pd.read_csv("http://bcdanl.github.io/data/beer_markets.csv")
beer

,hh,_purchase_desc,quantity,brand,dollar_spent,beer_floz,price_per_floz,container,promo,market,...,age,employment,degree,cow,race,microwave,dishwasher,tvcable,singlefamilyhome,npeople
0,2000946,BUD LT BR CN 12P,1,BUD LIGHT,8.14,144.0,0.056528,CAN,False,RURAL ILLINOIS,...,50+,none,Grad,none/retired/student,white,True,True,premium,False,1
1,2003036,BUD LT BR CN 24P,1,BUD LIGHT,17.48,288.0,0.060694,CAN,False,ATLANTA,...,50+,full,College,clerical/sales/service,white,True,True,basic,True,2
2,2003036,BUD LT BR CN 24P,2,BUD LIGHT,33.92,576.0,0.058889,CAN,False,ATLANTA,...,50+,full,College,clerical/sales/service,white,True,True,basic,True,2
3,2003036,BUD LT BR CN 30P,2,BUD LIGHT,34.74,720.0,0.048250,CAN,False,ATLANTA,...,50+,full,College,clerical/sales/service,white,True,True,basic,True,2
4,2003036,BUD LT BR CN 36P,2,BUD LIGHT,40.48,864.0,0.046852,CAN,False,ATLANTA,...,50+,full,College,clerical/sales/service,white,True,True,basic,True,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,9158319,NATURAL LT BR CN 24P,1,NATURAL LIGHT,11.49,288.0,0.039896,CAN,True,RURAL VIRGINIA,...,50+,none,HS,none/retired/student,black,True,True,premium,True,2
73111,9158319,NATURAL LT BR CN 24P,1,NATURAL LIGHT,9.97,288.0,0.034618,CAN,False,RURAL VIRGINIA,...,50+,none,HS,none/retired/student,black,True,True,premium,True,2
73112,9158319,NATURAL LT BR CN 24P,1,NATURAL LIGHT,9.98,288.0,0.034653,CAN,False,RURAL VIRGINIA,...,50+,none,HS,none/retired/student,black,True,True,premium,True,2
73113,9164033,NATURAL LT BR CN 30P,1,NATURAL LIGHT,12.98,360.0,0.036056,CAN,False,SACRAMENTO,...,50+,full,College,prof,hispanic,True,True,basic,True,5plus
73114,9164155,NATURAL LT BR CN 24P,1,NATURAL LIGHT,13.49,288.0,0.046840,CAN,False,JACKSONVILLE,...,50+,full,HS,labor/craft/military/farm,white,True,True,none,True,2

- Data Types
  - integer
  - string